.main-header-container {
  background-image: url("../assets/img/download.jpg");
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  position: relative; }
  .main-header-container .header-container {
    font-family: "Raleway", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 4px; }
    .main-header-container .header-container h1 {
      font-size: 64px !important;
      color: #fff;
      font-weight: 400; }
    .main-header-container .header-container h2 {
      color: #fff;
      padding: 15px;
      font-weight: 100;
      font-size: 30px; }

.main_container {
  font-family: "Raleway", sans-serif;
  background-color: #f2e1e1;
  text-align: center;
  padding: 40px 0 40px 0;
  color: #757575 !important;
  width: 100%; }
  .main_container div {
    display: inline-block;
    max-width: 980px; }
    .main_container div h1 {
      padding: 30px;
      font-size: 36px; }
    .main_container div p {
      padding: 40px;
      line-height: 2;
      font-size: 15px; }
    .main_container div button {
      color: #fff;
      background-color: #000;
      font-size: 18px !important;
      padding: 20px 30px !important;
      border-radius: 4px;
      cursor: pointer;
      border: none; }
      .main_container div button:hover {
        background-color: #9b9999;
        color: black; }

.container-invited {
  position: relative;
  background-repeat: no-repeat;
  position: relative; }
  .container-invited img {
    width: 100%;
    height: 400px; }
  .container-invited div {
    font-family: "Raleway", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 4px; }
    .container-invited div h1 {
      font-size: 64px !important;
      color: black;
      font-weight: 400;
      padding-bottom: 30px; }
    .container-invited div h2 {
      color: black;
      padding: 15px;
      font-weight: 100;
      font-size: 30px; }

.main-wedding-container {
  font-family: "Raleway", sans-serif;
  background-color: #f2e1e1;
  text-align: center;
  padding: 40px 0 40px 0;
  color: #757575 !important;
  width: 100%; }
  .main-wedding-container div {
    display: inline-block;
    max-width: 980px; }
    .main-wedding-container div h1 {
      padding: 30px;
      font-size: 36px; }

.when-and-where-container {
  color: black !important;
  padding-top: 80px;
  width: 100%; }
  .when-and-where-container div {
    width: 48%;
    line-height: 2; }
    .when-and-where-container div h2 {
      font-weight: 100;
      font-size: 40px; }
    .when-and-where-container div p {
      padding: 10px; }

.main-rspv-container {
  background-color: #ffdddd;
  width: 100%;
  height: 300px;
  position: relative; }
  .main-rspv-container div {
    font-family: "Raleway", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 4px; }
    .main-rspv-container div h2 {
      font-size: 36px;
      font-weight: 400;
      letter-spacing: 4px; }
    .main-rspv-container div small {
      display: block;
      padding: 30px;
      font-size: 18px !important;
      letter-spacing: 2px !important; }
    .main-rspv-container div button {
      color: #fff;
      background-color: #f44336;
      font-size: 25px;
      padding: 20px 60px !important;
      border-radius: 4px;
      cursor: pointer;
      border: none; }
      .main-rspv-container div button:hover {
        background-color: #9b9999;
        color: black;
        font-size: 25px;
        font-weight: 500; }

.footer {
  background-color: black;
  width: 100%;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  text-align: center;
  color: white; }
  .footer p a {
    color: white; }
    .footer p a:hover {
      color: green; }

.main-nav-container {
  position: fixed;
  bottom: 0;
  background-color: white;
  opacity: 0.75;
  width: 100%; }
  .main-nav-container div {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .main-nav-container div a {
      text-decoration: none;
      color: black;
      padding: 20px 140px 20px; }
      .main-nav-container div a:hover {
        background-color: #ece6e6;
        font-weight: 500; }
    .main-nav-container div .rsvp:hover {
      background-color: black;
      color: white;
      font-weight: 500; }

* {
  margin: 0;
  padding: 0; }
