$big_font_size: 64px!important;
$medium_font_size: 36px;
$first_type_color : #fff!important;
$second_type_caller: #757575!important;
$letter-spacing: 4px;
$font-family: "Raleway", sans-serif;
$main_background-color: #ffdddd!important;